<div>
	<h1>Largest Palindrome Product</h1>
	<h3>Problem 4</h3>
<div>
	
<div>
	<p>A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.</p>
	<p>Find the largest palindrome made from the product of two 3-digit numbers.</p>
</div>

<div>
	<h3>Simple check</h3>
	<div>
		<input #numbertocheck>
		<button (click)="isGivenNumberPalindrome(numbertocheck.value)">
			Check if number is palindrome
		</button>
	</div>
	<div>
		<span>Is number palindrome: {{ isNumberPalindrome }}</span>
	</div>
</div>

