<nav>
  
  <ul>
    <li>
      <a [router-link]="['/home']">Home</a>
    </li>
    <li>
      <a [router-link]="['/fibonacci-even-numbers']">Fibonacci even numbers</a>
    </li> 
    <li>
      <a [router-link]="['/largest-prime-factor']">Largest prime factor</a>
    </li>   
    <li>
      <a [router-link]="['/largest-palindrome-product']">Largest palindrome product</a>
    </li>
    <li>
      <a [router-link]="['/smallest-multiple']">Smallest multiple</a>
    </li>
    <li>
      <a [router-link]="['/sum-square-difference']">Sum Square Difference</a>
    </li>
  </ul>
  
</nav>

<main>
  <router-outlet></router-outlet>
</main>